body {
    margin: 0;
    background-color: #043d77;
    color: aliceblue;
}

.app {
    margin-top: 30px;
    text-align: center;
    background-color: #234272;
}

section {

}

h1 {
    margin: 0;
}
