section {
    padding: 40px;
}

img {
    width: 360px;
    height: 360px;
    border-radius: 400px;
    margin: auto;
}

.profile {
    gap: 26px;
    display: flex;
    flex-direction: row;
    background-color: #20205e;
    border-radius: 40px;
    margin: auto;
    padding: 40px;
}

.present {
    margin: auto;
    display: flex;
    color: white;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.presentation {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.list {
    line-height: 1.2;
    margin-top: 30px;
    scale: 0.90;
    padding: 0;
    background: inherit;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1000px) {

    .presentation {
        flex-direction: column;
        justify-items: center;
    }

    .present {
        text-align: center;
    }

    .profile {
        flex-direction: column;
    }

    .list {
        margin: auto;
        font-size: 26px;
        line-height: 1.6;
    }
}