.info {
    color: red;
    font-size: 1.5rem;
    text-align: center;
}

.info a:hover {
    text-shadow: none;
}

.info a {
    padding: 0 0.5rem;
    text-shadow: 3px 0 3px #065ee0;
    transition: text-shadow 0.5s ease-in-out;
}