.lang {
    border-radius: 25px;
    width: 300px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.langspe {
    width: 500px;
    border-radius: 25px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.meslangages {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #254d8a;
}

.hpres {
    margin-top: 20px;
    margin-bottom: 26px;
    text-align: center;
    flex: 1 1 100%;
}

.meslang {
    margin: 0;
    padding: 0;
}

img {
    margin-right: auto;
}

@media screen and (max-width: 1000px) {
    .meslangages {
        justify-items: center;
    }
}