.topnav {
    position: relative;
    padding: 10px 10px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #232341;
}

.topnav a {
    margin: 20px 50px;
    width: auto;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.active {
    text-shadow: 0 0 10px white;
}

body {
    background-color: #1a1a34;
    width: 100%;
    max-width: 100%;
    margin: 0;
    min-height: 120vh;
}

.export {
    float: right;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-color: #232341;
}

.export img {
    padding: 32px;
}

.export:hover {
    box-shadow: -7px 7px 7px rgba(47, 47, 87, 0.89);
    scale: 1.05;
    cursor: pointer;
}

.content {
    color: white;
}

.content .presentation {
    float: left;
    width: 60%;
}

.fast {
    padding: 50px 100px;
}

.content .links {
    float: right;
    width: 40%;
}

.content-desc {
    float: left;
    width: 100%;
}

.full {
    color: white;
    max-width: 100%;
    padding: 40px 60px;
}

h1 {
    color: #3cf843;
    font-size: 40px;
    font-weight: bolder;
}

p {
    font-size: 22px;
    font-weight: lighter;
    color: #f2f2f2;
}

.social {
    float: left;
    scale: 1.25;
}

.full img {
    margin: 12px;
}

.content a {
    color: #fa9b1c;
    text-decoration: none;
}

li {
    font-size: 22px;
    font-weight: lighter;
    color: #f2f2f2;
    padding: 12px;
}

footer .content {
    display: inline-flex;
    margin-top: 90px;
    padding: 8px 30px;
    width: 100%;
}

footer a, .topnav a {
    width: auto;
    position: relative;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
}

footer a:after, .topnav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #6dff00;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

footer a:hover:after, .topnav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
    .content .presentation {
        width: 100%;
    }

    .content .links {
        width: 100%;
    }
}







