header {
    background-color: #2f69a8;
    color: #fff;
}

ul {
    display: flex;
    gap: 40px;
    padding: 40px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: #2f69a8;
}

@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        gap: 20px;
    }
}