body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1a34;
    min-width: 600px;
    line-height: 2rem;
    color: #f5f1f1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: 3rem;
    justify-content: center;
}

.animated, .link {
    width: auto;
    position: relative;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
}

.animated:after, .link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #6dff00;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.animated:hover:after, .link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 1.8rem;
    }
}
